
.menu-accueil {
    .menu-accueil__liste { // ul
        display: flex;
        justify-content: space-around;
        .accueil__cours {
            .menu-item-icone {
                background-image: url('https://s2.svgbox.net/octicons.svg?ic=pencil');
            }
        }
        .accueil__cotisation {
            .menu-item-icone {
                background-image: url('https://s2.svgbox.net/octicons.svg?ic=credit-card');
            }
        }
        .accueil__adresse {
            .menu-item-icone {
                background-image: url('https://s2.svgbox.net/octicons.svg?ic=location');
            }
        }
        .accueil__exemple {
            .menu-item-icone {
                background-image: url('https://s2.svgbox.net/octicons.svg?ic=file');
            }
        }

        .menu-item { //li
            list-style: none;
            width: 15%;
            padding: 10px;
            background-color: $color__bouton__backgrond;
            a{
                display: flex;
                height: 100%;
                align-items: stretch;
                flex-flow: column;
                color: $color__bouton__color;
                font-size: 1.5rem;
                hr {
                    width: 100%;
                }
                .menu-item-description // span
                {
                    font-size: 1rem;
                }
                .menu-item-icone {
                    margin-top: auto;
                    width: 2rem;
                    height: 2rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
            }
            
        }
    }
    
}