$color__background-body: #ffffff;
$color__background-header: #04d9d9;
$color__background-barre: #e8dbd2;
$color__background-bloc-bleu: #04d9d9;
$color__background-bloc-orange: #f27405;
$color__background-ombre: #104567;
$color__background-main: white;
$color__background-footer: #f27405;
$color__background-link: rgb(63, 63, 63);
$color__background-link-hover: rgb(41, 41, 41);

//liens
$color__link: #f27405;
$color__link-hover: #04d9d9;
$color__link-visited: #f27405;

//liens footer
$color__link__footer: rgb(63, 63, 63);
$color__link__footer-hover: white;
$color__link__footer-visited: rgb(63, 63, 63);

//liens header
$color__link__header: white;
$color__link__header-hover: rgb(63, 63, 63);
$color__link__header-visited: white;

// Fonts
$color__font-footer: white;
