.site {
  display: grid;
  gap: 20px;
  grid-template-columns: auto ($size__site-sidebar);
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";

  .site__header {
    grid-area: header;
    background-color: $color__background-header;
  }
  .site__barre {
    grid-area: sidebar;
    background-color: $color__background-barre;
  }
  .site__main {
    grid-area: main;
    background-color: $color__background-main;
  }
  .site__footer {
    grid-area: footer;
    background-color: $color__background-footer;
  }
}
