.menu-menu_accueil-container, .menu-menu-evenement-container { //nav

    .menu { //ul
        display : flex;
        justify-content: space-around;
        .accueil__cours .menu-item-icone{
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=pencil');
        }
        .accueil__prof .menu-item-icone{
            background-image: url('https://s2.svgbox.net/crypto.svg?ic=dbc');
        }
        .accueil__aide .menu-item-icone{
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=help');
        }
        .accueil__etudiant .menu-item-icone{
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=school');
        }

        .menu-item { //li
            border-right: 2px solid $color__titre__principal;
            border-bottom: 2px solid $color__titre__principal;
            width : 15%;
            height : 250px;
            padding : 10px;
            background: linear-gradient(to top, transparent 50%, $color__link 50%);
            background-size: 100% 200%;
            background-position: 0 -100%;
            transition: 0.4s;
            a {
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
               
                font-size: 1.5rem;
                height : 100%;
                hr{
                    width : 90%;
                }
                .menu-item-description { // span
                    font-size: 1rem;
                }
                .menu-item-icone{
                    width : 3rem;
                    height : 3rem;
                    background-position : center;
                    background-repeat: no-repeat;
                    margin-top : auto;
                    background-size: cover;
                    transition: 0.2s;
                }

            }
        &:hover {
            background-position: 0 -60%;
            a {
               .menu-item-icone {
                   width: 4rem;
                   height: 4rem;
                   transform: translateY(-5px);
               }
            }
        }    

        }



    }



} // fin .menu-accueil-container

.menu-accueil-container {
    .menu-item {
        background-color: $color__bouton__background;
        a{
            color : $color__bouton__color;
   
        }
    &:hover{
        background-color: $color__bouton__background--hover;
        a{
            color : $color__bouton__color--hover;
        }
    }    
    }
}



.menu-evenement-container {

    .menu-item {
        background-color: $couleur__carte__evenement__background ;
        a{
            color: $couleur__carte__evenement ;
   
        }
    &:hover{
        background-color: $couleur__carte__evenement__background--hover ;
        a{
            color: $couleur__carte__evenement--hover ;
        }
    }    
    }

}