.site__main {
    .atelier {
        p {
            span.important {
                font-size: 1.5rem;
                font-weight: bold;
                color: $color__bouton__color;
            }
        }
    }
}