$color__background-body: rgb(127, 255, 217);
$color__link: rgb(0, 4, 255);
$color__link-hover: rgb(4, 4, 189);
$color__link-visited: rgb(61, 61, 90);
$color__background-entete: rgb(255, 153, 170);
$color__background-footer: grey;
$color__font-footer: white;
